.formulario {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    width: 576px;
    margin: 50px auto;

}

.tabela {
    margin-top: 50px;
    text-align: center;
}

.botao {
    margin-top: 20px;
    width: 576px;
}


table {
    margin: auto;
    
}


.descricao {
    border: 1px solid black;
    padding: 1rem;
    width: 10rem;
    

}

.bloco-nome {
    width: 20rem;
    font-size: 12px;
}


.aprovado {
    background-color: green;
}

.reprovado{
    background-color: red;
}


